# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
.run/
*.swp
*.swo
.project
.pydevproject
.settings/


# Database
db.sqlite3*
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db
*.log
.coverage
htmlcov/
.pytest_cache/ 
.aider*
